{#
/**
 * @file
 * Default theme implementation to display a mosaic formatted image field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - url: An URL the image can be linked to.
 * - attributes: Link attributes.
 *
 * @see template_preprocess_colorbox_formatter()
 *
 * @ingroup themeable
 */
#}
<div class="field--name-{{ field_name }} mosaicformattercontainer" data-settings="{{ settings }}">
{% for item in items %}
<img src="{{ item.uri }}" alt="{{ item.alt }}" title="{{ item.title }}" width="{{ item.width }}" height="{{ item.height }}">
{% endfor %}
</div>      


